*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
}
.first{
    background-color: blue;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.second div{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second div:nth-child(1){
    background-color: orange;
}
.second div:nth-child(2){
    background-color: rgb(0, 255, 0);
}
.second div:nth-child(3){
    background-color: rgb(68, 0, 255);
}
.second div:nth-child(4){
    background-color: rgb(192, 36, 36);
}
@media  screen and (min-width: 768px) {
    .container{
        display: flex;
    }
    .first, .second{
        height: 100%;
        width: 50%;
        color: white;
    }
}